[Desktop Entry]
Name=Install ArctineOS
Type=Application
Icon=folder-download-symbolic
Exec=sudo /Arctine/GumpackNG/install.sh
Terminal=true
Categories=GNOME;GTK;System;PackageManager;Settings;
Comment=Install ArctineOS to a system